body{
    background-color: aliceblue;
    background-image: url("/resources/images/backgroundimages/coralreefback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}