h1,h2{
    height:30px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:chartreuse;
}
p,li{
    height:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lawngreen;
    margin: auto;
    padding: auto;
    
}
