h1,h2{
    height:30px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;color:#FFE205;

 
}
p,li{
    height:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lawngreen;
    margin: auto;
    padding: auto;

}
